<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
    <style>
        body {
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Task list</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% for task in tasks %}
        <h1>{{ task.name }}</h1>
    {% endfor %}

    <a href="{% url 'create-task' %}">
        <h3>Create task</h3>
    </a>
</body>

</html>